{% extends "base.html" %}
{% block title %}
Добавление клиента на занятие
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div class="zebra">
		<li>
			<a href="/client_list/">Список клиентов</a>
		</li>
		<li>
			<a href="/create_client/">Создать клиента</a>
		</li>
	</div>
    <h1>Добавление клиента на занятие</h1>
    <form class="form-style-6" method="post">
        <select name="sport_name">
            {% for item in sports %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <select name="client_name">
            {% for item in clients %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Записать" />
    </form>
{% endblock %}
{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}